
:root:{
  --container-bg-color:#333;
  --left-bg-color:rgba(223,39,39,o.7);
  --left-buttton-hover-color:rgba(161,11,11,0.3);
  --right-bg-color:rgba(43,43,43,0.8);
  --right-button-hover-color:rgba(92,92,92,0.3);
  --hover-width:75%;
  --other-width:25%;
  --speed:1000ms;
}
html,body{
  padding: 0px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x:hidden;

}
.landingPage {
  height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/diary.jpeg");
  background-size: cover;
  opacity: 0.9;
}
.row{
  height: 50px;
  background-color:grey;
}
ul li{
  float: right;
  font-size: 1.6rem;
  list-style-type: none;
  padding: 20px;
}
.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 30px;
}

.main-nav li.active a {
  border: 1px solid white;
}

.main-nav li a:hover {
  border: 1px solid white;
}
h1{
  font-size: 4rem;
  color: #fff;
  position:absolute;
  left: 50%;
  top:20%;
  transform: translate(-50%);
  white-space: nowrap;
}
.button{
  display: block;
  position: absolute;
  left: 50%;
  top: 40$;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border:#fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}
.split.left.button:hover{
  background-color: rgba(161,11,11,0.3);
   border-color: rgba(161,11,11,0.3);

}
.split.right.button:hover{
  background-color: rgba(92,92,92,0.3);
  border-color: rgba(92,92,92,0.3);

}
.container{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff ;
}
.split{
  position: absolute;
  width: 50%;
  height: 100%;
  overflow:hidden;
  background-color: pink;
}
.split.left{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/splitleft.jpeg");
  left: 0;
  background-size: cover;
}
.split.left::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}
.split.right{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/diary.jpeg");
  right: 0;
  background-size: cover;
}
.split.right:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;

}
.split.left,.split.right,.split.right:before,.split.left:before{
  transition: 1000ms all ease-in-out;
}
.hover-left .split.left{
  width: 75%
}
.hover-left .split.right{
  width: 25%;
}
.hover-left .right:before{
  z-index:2;
}
.hover-right .split.right{
  width: 75%
}
.hover-right .split.left{
  width: 25%;
}
.hover-right .left:before{
  z-index:2;
}

.split h2 {
  position: relative;
  top: 35%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.split h1{
  position: relative;
  top: 10%;
  text-align: center;
}
#signUp {
  position: relative;
  top: 70px;
  left: 200px;
  height: 400px;
  width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#logIn{
  position: absolute;
  top: 200px;
  right:300px
}
#logIn h1{
  margin-top: -80px;
  font-weight: 300;
  font-size: 28px;
  color: white;
}
.left-box {
  position: absolute;
  top: 0;
  left: 0 padding:40px;
  width: 300px;
  height: 400px;
}

#signUp h1 {
  position: absolute;
  top: -30px;
  font-weight: 300;
  font-size: 28px;
  color: white;
}

input[type="text"], input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-top: 20px;
  padding-left: 4px;
  width: 220px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 20px;
  width: 120px;
  height: 32px;
  background-color: #f44336;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #ff5722;
  transition: 0.2s ease;
}

.right-box {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

.right-box .signUpWith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: white;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

button.social {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-weight: 500px;
  cursor: pointer;
}

.facebook {
  background-color: #32508e;
}

.google {
  background-color: #dd4b39;
}

span.psw {
  margin-right: 100px;
  padding-top: 16px;
  font-size: 20px;
}

.forgot h2 {
  color: white;
  font-size: 20px;
}
.profile {
  margin: 0;
  padding: 0;
  background-color: orange;
  height: 1000px;
}

.profile-sect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .5)
}

.profile-sect img {
  width: 100%;
}
.totalEntries {
  font-size: 20px;
  position: relative;
  top: 50px;
  left: 100px;
}
